body {
    font-family: Arial,
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

input {
    padding: 9px;
}

button {
    padding: 7px;
    cursor: pointer;
}

li {
    list-style: none;
    margin: 12px;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: black;
}